<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projet4a.ensim.lecture_et_calcule_rapide">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu.MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu.MenuActivity"
            android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".CalculRapide.Activity.MathExo1Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CalculRapide.Activity.MathsActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CalculRapide.Activity.ModifParamEm1Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CalculRapide.Activity.ModifParamEm2Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LectureRapide.Activity.LectureExo1Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LectureRapide.Activity.LectureAccueilActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LectureRapide.Activity.ModifParamEl1Activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CalculRapide.Activity.ExoMath1Resultat"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LectureRapide.Activity.ExoLecture1Resultat"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".CalculRapide.Activity.MathExo2Activity"
            android:screenOrientation="sensorLandscape"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EnvoiResultat.GenerateQRCodeActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ConnectionActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Menu.InformationActivity"
            android:screenOrientation="sensorLandscape"/>
    </application>

</manifest>